/*************************************
*   First, reset the browser style
*   so we can modify all from there
**************************************/

/* 
for each color must exist a
bg-
color-
*/

.bg-white {
  background-color: white;
}

.bg-primary {
  background-color: #1994d5;
  color: #e1e1e1;
}

.color-primary {
  color: #1994d5;
}

.border-primary {
  border-color: #1994d5;
}

.hover-bg-primary:hover {
  background-color: #1994d5;
  color: #e1e1e1;
}

.bg-secondary {
  background-color: #0e5f8a;
  color: #e1e1e1;
}

.color-secondary {
  color: #0e5f8a;
}

.border-secondary {
  border-color: #0e5f8a;
}

.hover-bg-secondary:hover {
  background-color: #0e5f8a;
  color: #e1e1e1;
}

.bg-danger {
  background-color: #d31919;
  color: #e1e1e1;
}

.color-danger {
  color: #d31919;
}

.border-danger {
  border-color: #d31919;
}

.hover-bg-danger:hover {
  background-color: #d31919;
  color: #e1e1e1;
}

.bg-success {
  background-color: #19d548;
  color: #e1e1e1;
}

.color-success {
  color: #19d548;
}

.border-success {
  border-color: #19d548;
}

.hover-bg-success:hover {
  background-color: #19d548;
  color: #e1e1e1;
}

.bg-warning {
  background-color: #d2d519;
  color: #e1e1e1;
}

.color-warning {
  color: #d2d519;
}

.border-warning {
  border-color: #d2d519;
}

.hover-bg-warning:hover {
  background-color: #d2d519;
  color: #e1e1e1;
}

.bg-light {
  background-color: #e1e1e1;
  color: #222;
}

.color-light {
  color: #e1e1e1;
}

.border-light {
  border-color: #e1e1e1;
}

.hover-bg-light:hover {
  background-color: #e1e1e1;
  color: #222;
}

.bg-dark {
  background-color: #222;
  color: white;
}

.color-dark {
  color: #222;
}

.border-dark {
  border-color: #222;
}

.hover-bg-dark:hover {
  background-color: #222;
  color: white;
}

.bg-gray {
  background-color: #646464;
  color: white;
}

.color-gray {
  color: #646464;
}

.border-gray {
  border-color: #646464;
}

.hover-bg-gray:hover {
  background-color: #646464;
  color: white;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-size: 1rem;
  color: #333333;
}

/* make sure to set some focus styles for accessibility */

:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* 
container
grid
flex
querys
*/

.container {
  max-width: 1024px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.container-sm {
  max-width: 700px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.container-lg {
  max-width: 1280px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.container-xl {
  max-width: 1366px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.fgrid-0 {
  display: grid;
  grid-template-columns: repeat(0, 1fr);
}

.fgrid-1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.fgrid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.fgrid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.fgrid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (min-width: 1024px) {
  .grid-0 {
    display: grid;
    grid-template-columns: repeat(0, 1fr);
  }

  .gap-0 {
    -moz-column-gap: 0em;
         column-gap: 0em;
    grid-gap: 0em;
  }

  .grid-1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .gap-1 {
    -moz-column-gap: 1em;
         column-gap: 1em;
    grid-gap: 1em;
  }

  .grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .gap-2 {
    -moz-column-gap: 2em;
         column-gap: 2em;
    grid-gap: 2em;
  }

  .grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .gap-3 {
    -moz-column-gap: 3em;
         column-gap: 3em;
    grid-gap: 3em;
  }

  .grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .gap-4 {
    -moz-column-gap: 4em;
         column-gap: 4em;
    grid-gap: 4em;
  }
}

@media screen and (max-width: 1024px) {
  .grid-0 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .grid-1 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .grid-2 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .grid-3 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .grid-4 {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.column-revese {
  flex-direction: column-reverse;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-evenly {
  justify-content: space-evenly;
}

.align-end {
  align-items: flex-end;
}

.align-start {
  align-items: flex-start;
}

.all-to-center {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: block;
}

.d-none {
  display: none;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/*************************************
*   Text utilities
**************************************
*/

p {
  line-height: 1.5;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-2xl {
  font-size: 4rem;
  line-height: 1.2;
}

.text-xl {
  font-size: 3rem;
  line-height: 1.2;
}

.text-lg {
  font-size: 2.25rem;
}

.text-md {
  font-size: 1.5rem;
}

.text-sm {
  font-size: 1.115rem;
}

.text-xs {
  font-size: 0.8rem;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.lowercase {
  text-transform: lowercase;
}

.thin {
  font-weight: thin;
}

.normal {
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.italics {
  font-style: italic;
}

.whishper {
  font-size: 14px;
  display: block;
  opacity: 0.8;
}

.muted {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  opacity: 0.5;
}

@media screen and (max-width: 1024px) {
  /* Text Styles */

  .text-x-large {
    font-size: 3rem;
  }

  .text-large {
    font-size: 2rem;
  }

  .title {
    font-size: 1rem;
  }
}

.shadow {
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
}

.bg-img {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.bg-fixed {
  background-attachment: fixed;
}

.rounded {
  border-radius: 4px;
}

.circle {
  border-radius: 999px;
}

.full-vh {
  min-height: 100vh;
}

.full-w {
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.4s ease;
}

.btn {
  outline: none;
}

.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 0.1;
}

.opacity-2 {
  opacity: 0.2;
}

.opacity-3 {
  opacity: 0.3;
}

.opacity-4 {
  opacity: 0.4;
}

.opacity-5 {
  opacity: 0.5;
}

.opacity-6 {
  opacity: 0.6;
}

.opacity-7 {
  opacity: 0.7;
}

.opacity-8 {
  opacity: 0.8;
}

.opacity-9 {
  opacity: 0.9;
}

.opacity-10 {
  opacity: 1;
}

/* Forms */

input,
textarea {
  margin-bottom: 1.2rem;
}

input[type=text],
input[type=email],
input[type=password],
input[type=date],
input[type=number],
select,
textarea {
  display: block;
  width: calc(100%);
  font-size: 1rem;
}

.form-control {
  display: flex;
  padding: 1em;
  width: calc(100% - 2em);
  border: 1px solid #e1e1e1;
}

.p {
  padding: 0.5rem;
}

.pb {
  padding-bottom: 0.5rem;
}

.pr {
  padding-right: 0.5rem;
}

.pl {
  padding-left: 0.5rem;
}

.pt {
  padding-top: 0.5rem;
}

.py {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.p-0 {
  padding: 0em;
}

.pb-0 {
  padding-bottom: 0em;
}

.pr-0 {
  padding-right: 0em;
}

.pl-0 {
  padding-left: 0em;
}

.pt-0 {
  padding-top: 0em;
}

.py-0 {
  padding-bottom: 0em;
  padding-top: 0em;
}

.px-0 {
  padding-right: 0em;
  padding-left: 0em;
}

.p-1 {
  padding: 1em;
}

.pb-1 {
  padding-bottom: 1em;
}

.pr-1 {
  padding-right: 1em;
}

.pl-1 {
  padding-left: 1em;
}

.pt-1 {
  padding-top: 1em;
}

.py-1 {
  padding-bottom: 1em;
  padding-top: 1em;
}

.px-1 {
  padding-right: 1em;
  padding-left: 1em;
}

.p-2 {
  padding: 2em;
}

.pb-2 {
  padding-bottom: 2em;
}

.pr-2 {
  padding-right: 2em;
}

.pl-2 {
  padding-left: 2em;
}

.pt-2 {
  padding-top: 2em;
}

.py-2 {
  padding-bottom: 2em;
  padding-top: 2em;
}

.px-2 {
  padding-right: 2em;
  padding-left: 2em;
}

.p-3 {
  padding: 3em;
}

.pb-3 {
  padding-bottom: 3em;
}

.pr-3 {
  padding-right: 3em;
}

.pl-3 {
  padding-left: 3em;
}

.pt-3 {
  padding-top: 3em;
}

.py-3 {
  padding-bottom: 3em;
  padding-top: 3em;
}

.px-3 {
  padding-right: 3em;
  padding-left: 3em;
}

.p-4 {
  padding: 4em;
}

.pb-4 {
  padding-bottom: 4em;
}

.pr-4 {
  padding-right: 4em;
}

.pl-4 {
  padding-left: 4em;
}

.pt-4 {
  padding-top: 4em;
}

.py-4 {
  padding-bottom: 4em;
  padding-top: 4em;
}

.px-4 {
  padding-right: 4em;
  padding-left: 4em;
}

.m-auto {
  margin: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.m {
  margin: 0.5rem;
}

.mb {
  margin-bottom: 0.5rem;
}

.mr {
  margin-right: 0.5rem;
}

.ml {
  margin-left: 0.5rem;
}

.mt {
  margin-top: 0.5rem;
}

.my {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mx {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.m-0 {
  margin: 0em;
}

.mb-0 {
  margin-bottom: 0em;
}

.mr-0 {
  margin-right: 0em;
}

.ml-0 {
  margin-left: 0em;
}

.mt-0 {
  margin-top: 0em;
}

.my-0 {
  margin-bottom: 0em;
  margin-top: 0em;
}

.mx-0 {
  margin-right: 0em;
  margin-left: 0em;
}

.m-1 {
  margin: 1em;
}

.mb-1 {
  margin-bottom: 1em;
}

.mr-1 {
  margin-right: 1em;
}

.ml-1 {
  margin-left: 1em;
}

.mt-1 {
  margin-top: 1em;
}

.my-1 {
  margin-bottom: 1em;
  margin-top: 1em;
}

.mx-1 {
  margin-right: 1em;
  margin-left: 1em;
}

.m-2 {
  margin: 2em;
}

.mb-2 {
  margin-bottom: 2em;
}

.mr-2 {
  margin-right: 2em;
}

.ml-2 {
  margin-left: 2em;
}

.mt-2 {
  margin-top: 2em;
}

.my-2 {
  margin-bottom: 2em;
  margin-top: 2em;
}

.mx-2 {
  margin-right: 2em;
  margin-left: 2em;
}

.m-3 {
  margin: 3em;
}

.mb-3 {
  margin-bottom: 3em;
}

.mr-3 {
  margin-right: 3em;
}

.ml-3 {
  margin-left: 3em;
}

.mt-3 {
  margin-top: 3em;
}

.my-3 {
  margin-bottom: 3em;
  margin-top: 3em;
}

.mx-3 {
  margin-right: 3em;
  margin-left: 3em;
}

.m-4 {
  margin: 4em;
}

.mb-4 {
  margin-bottom: 4em;
}

.mr-4 {
  margin-right: 4em;
}

.ml-4 {
  margin-left: 4em;
}

.mt-4 {
  margin-top: 4em;
}

.my-4 {
  margin-bottom: 4em;
  margin-top: 4em;
}

.mx-4 {
  margin-right: 4em;
  margin-left: 4em;
}

.w-full {
  width: 100%;
}

.h-screen {
  height: 100vh;
}

.min-h-screen {
  min-height: 100vh;
}

.min-h-half-screen {
  min-height: 50vh;
}

.h-auto {
  height: auto;
}

.w-auto {
  height: auto;
}

.w-50 {
  width: 50%;
}

.h-50 {
  height: 50vh;
}

.border {
  border-width: 1px;
  border-style: solid;
}

.border-y {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-style: solid;
}

.border-x {
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
}

.border-t {
  border-style: solid;
  border-top-width: 1px;
}

.border-b {
  border-style: solid;
  border-bottom-width: 1px;
}

.border-r {
  border-right-width: 1px;
  border-style: solid;
}

.border-l {
  border-style: solid;
  border-left-width: 1px;
}

/*************************************
*   Hover states global
**************************************
*/

.transition {
  transition: all 0.4s ease;
}

.hover-up:hover {
  transform: translateY(1em);
}

.hover-opacity-full:hover {
  opacity: 1;
}

body {
  font-family: "Gotham A", "Gotham B";
}

