
@mixin gradient {
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
}

.form-container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333333;
    @include gradient();
    .form-card{
        border-radius: 12px;
        background-color: white;
        max-width: 380px;
        min-width: 320px;
        transition: all .4s ease;
        padding: 1em;
        box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: .3);
    }
    h4{
        text-align: center;
        font-size: 1.2rem;
        color: currentColor
    }
    form{
        button{
            @include gradient();
            color: white;
            font-weight: bold;
            text-align: center;
            padding: 1em 2em;
            border: none;
            outline: none;
            border-radius: 6px;
            margin: auto;
            display: block;
            font-size: 1em;
            margin: 0 1em;
            width: calc(100% - 2em);
        }
        input[type=file]{
            display: none;
        }
        .comment{
            font-size: .8em;
            text-align: center;
            color: currentColor
        }
        p{
            text-align: center;
        }
    }
}
.remember-me{
    border: none;
}
.forgot-password{
    display: block;
}
a{
    color: #222;
    font-size: .8em;
    text-align: center;
    margin-top: 1em;
}

label{
    display: flex;
    border-bottom: 1px solid #e1e1e1;
    margin: 1em;
    input{
        margin-left: .5em;
        color: currentColor;
    }
}

input[type=text],
input[type=email],
input[type=password]
{
    display: block;
    border: none;
    padding: .5em;
    width: 100%;
    &:focus{
        outline: none;
    }
}

.u-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    @include gradient();
    color: white;
    padding: 1em;
    border-radius: 6px;
}

@media screen and (max-width: 1024px)
{
    .form-card{
        margin: 0 1em;
    }
}
