<template>
<div v-if="!step1" :class="salidaFx" >
    <img :src="crear_categorias" alt="" />
    <h4>¡Empecemos! <br />vamos a crear algunas categorias</h4>
    <p>Pueden ser, por ejemplo "Entrantes" o "Primeros"</p>
    <CategoriasForm  :RELEASE_THE_KRAKEN="RELEASE_THE_KRAKEN" />
</div>
<div v-else>
    <PlatoForm />
</div>
</template>

<script>
import CategoriasForm from './CategoriaForm';
import PlatoForm from './PlatoForm';
import crear_categorias from './assets/crear_categoria.svg';
export default {
    name: 'Admin',
    components: {
        CategoriasForm,
        PlatoForm
    },
    data() {
        return{
            step1: false,
            salidaFx: 'ninguno',
            crear_categorias: crear_categorias
        }
    },
    methods: {
        RELEASE_THE_KRAKEN(){
            this.salidaFx = "animate__backOutDown";
            setTimeout(() => {
                this.step1 = true;
                location.reload()
            }, 400);
        },
        checkTheKraken(){
            if (data.categorias.length > 0)
            {
                this.step1 = true;
            }
        }
    },
    created(){
        this.checkTheKraken();
    }
}
</script>
