<template>
<div>
    <h4>Preview de su carta</h4>
    <CartaList />
</div>
</template>

<script>
import CartaList from './CartaList';
export default {
    name: 'Carta',
    components: {
        CartaList
    },
    data(){
        return{
            width: window.innerWidth,
            username: `/${data.username}`
        }
    }
}
</script>
