<template>
<div>
    <div :key="categoria.id" v-for="categoria in data.categorias">
        <div>
            <h4>{{categoria.name}}</h4>
        </div>

        <div>
            <div :key="plato.id" v-for="plato in categoria.platos">
                <div>
                    <div>
                        <p @click="(e)=>setPlato(e, plato)">{{plato.title}}</p>
                        <div :class="{'heart-active' : $data.$local.getItem('liked-' + plato.id)}" @click="(e)=>toggleHeart(e, plato)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="22" viewBox="0 0 24 22" fill="none">
                                <g>
                                    <path class="bg" id="bg" d="M6 1C4.4 1 3 1.66667 2.5 2L1 4V7.5L3.5 11.5L12 20.5L16 17L19.5 13L22 9.5L23 6.5L22.5 4C22.3333 3.66667 21.8 2.8 21 2C20.2 1.2 19.3333 1.33333 19 1.5H17L15.5 2L13 3.5L11 4L10 2L7.5 1H6Z" fill="#FF3D3D"/>
                                    <path id="body" fill-rule="evenodd" clip-rule="evenodd" d="M13.802 20.2281L13.8022 20.228L13.8023 20.2279C14.1086 19.9289 14.436 19.6093 14.8604 19.1925C14.9262 19.1282 14.9918 19.064 15.0572 19H15V16.2514C14.7497 16.4995 14.496 16.7496 14.2392 17.0018L14.239 17.001L12.3569 18.8428L12 19.192L11.6406 18.8403L9.761 17.001L9.7605 17.0015C6.5607 13.8587 3.81927 11.0307 2.63074 8.57526L2.637 8.569C2.234 7.733 2 6.938 2 6.192C2 5.43506 2.15722 4.77085 2.43512 4.2075C3.18116 2.70931 4.76979 2.01 6.274 2.01C7.62364 2.01 8.70918 2.6067 9.57112 3.41557C10.767 4.54304 11.537 6.07789 11.9778 6.98526L12 7.031L12.0222 6.98526C12.463 6.07789 13.233 4.54304 14.4289 3.41557C15.2908 2.60669 16.3764 2.01 17.726 2.01C19.2302 2.01 20.8188 2.70931 21.5649 4.2075C21.8428 4.77085 22 5.43506 22 6.192C22 6.938 21.766 7.733 21.363 8.569L21.3693 8.57526C20.9956 9.34727 20.4684 10.1561 19.8217 11H22.2811C23.3669 9.34682 24 7.76344 24 6.192C24 4.59072 23.5064 3.2827 22.7112 2.28899C21.5136 0.789684 19.6317 0 17.719 0C15.522 0 13.285 1.042 12 3.248C10.715 1.042 8.478 0 6.281 0C4.36837 0 2.48643 0.789653 1.28889 2.2889C0.493624 3.28262 0 4.59067 0 6.192C0 10.2622 4.24754 14.4126 9.60613 19.6485C10.1448 20.1749 10.6948 20.7122 11.2527 21.2615C11.5002 21.5052 11.7494 21.7514 12 22L12.1423 21.8589C12.5962 21.4091 12.9406 21.0705 13.259 20.7588C13.4433 20.5784 13.6189 20.4069 13.802 20.2281Z"
                                    fill="#161616"/>
                                    <path class="body-toggle" id="body-toggle" fill-rule="evenodd" clip-rule="evenodd" d="M15 16.2514V19H15.0572C18.0678 16.0543 20.6717 13.4505 22.2811 11H19.8217C18.5765 12.6249 16.8883 14.3796 15 16.2514Z" fill="#161616"/>
                                    <g class="plus" id="plus">
                                        <path d="M16 14.25H22V15.75H16V14.25Z" fill="#161616"/>
                                        <path d="M19.75 12L19.75 18H18.25L18.25 12L19.75 12Z" fill="#161616"/>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div @click="(e)=>setPlato(e, plato)" v-show="plato.description && showDescription">
                        <p>{{plato.description}}</p>
                    </div>
                    <div @click="(e)=>setPlato(e, plato)">
                        <p>{{plato.price.replace('.',',')}} €</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <SinglePlato :plato="plato" :show="showSinglePlato" :toggle="setPlato" />
</div>
</template>

<script>
import SinglePlato from './SinglePlato';

export default {
    data(){
        return{
            data: data,
            showDescription: true,
            $local: window.localStorage,
            plato: {},
            showSinglePlato: false
        }
    },
    components: {
        SinglePlato,
    },
    methods: {
        async toggleHeart(e, plato)
        {
            if (!window.localStorage.getItem(`liked-${plato.id}`))
            {
                e.currentTarget.classList.toggle('heart-active');
                window.localStorage.setItem(`liked-${plato.id}`, true);
                // logica del like en server
                const res = await axios.post(`/api/like`, {
                    "id": plato.id
                }, {
                headers: {
                        'Content-Type': 'application/json',
                }});
                console.log(res.data)
            }
        },
        setPlato(e, plato){
            if (plato)
            {
                this.plato = plato;
            }
            this.showSinglePlato = !this.showSinglePlato;
        }
    }
}
</script>
<style scoped>

</style>
