<template>
<div>
    <flash-message transitionIn="animated swing" class="alertbox"></flash-message>

        <div>
            <form :class="{'bg-danger': isDanger}" method="POST" @submit.prevent="(e)=>onSubmit(url,e)">
                <input v-model="input" name="name" type="name" placeholder="Nombre de la categoria" autocomplete="off">
                <button :class="{'bg-danger': isDanger, 'gradient-w': !isDanger}" v-text="btn" type="submit"></button>
            </form>
            <p @click="RELEASE_THE_KRAKEN" :class="{ 'hidden' : categorias.length < 1}">No necesito más categorias, ¡Continuemos!</p>
        </div>
        <CategoriaList :categorias="categorias" :setEdit="setEdit" :setDelete="setDelete" />

</div>
</template>

<script>
import CategoriaList from './CategoriaList.vue';
import 'vue-flash-message/dist/vue-flash-message.min.css';
export default {
    name: 'CategoriaForm',
    components: {
        CategoriaList
    },
    data() {
        return {
            input: '',
            url: 'store',
            title: 'Agregar una nueva categoria',
            btn: 'Crear Categoria',
            cat_id: null,
            globalIndex: null,
            categorias: data.categorias,
            isDanger: false
        }
    },
    props: {
        RELEASE_THE_KRAKEN:{
            type: Function
        }
    },
    methods: {
        async onSubmit(url, event)
        {
            let form = event.currentTarget;
            const formData = new FormData(form);
            if (url !== 'store')
                formData.set('cat_id',  this.categorias[this.globalIndex].id);
            try {
                const res = await axios.post(`/categoria/${url}`, formData, {
                headers: {
                        'Content-Type': 'application/json',
                }});
                console.log(res.data.msg);
                switch (url) {
                    case "delete":
                        this.handleDelete(this.globalIndex);
                        break;
                    case "store":
                        this.categorias.push(res.data.body);
                        break;
                    case "update":
                        this.handleEdit(this.globalIndex);
                    default:
                        break;
                }
                // set all data to default
                this.setDefault()
                this.flash(res.data.msg, 'success',{timeout: 4000});
            } catch (err) {
                this.flash(err.response.data.msg, 'error',{timeout: 4000})
                console.log(err.response.data.msg);
            }
        },
        async fetchCategorias ()
        {
            const res = await axios.get('/categorias');
            this.categorias = res.data;
        },
        setEdit(categoria, index)
        {
            this.input = categoria.name;
            this.url = 'update';
            this.title = 'Editar Categoria';
            this.globalIndex = index;
            this.btn = "Editar categoria";
            this.isDanger = false;
        },
        setDelete(categoria, index)
        {
            this.input = categoria.name;
            this.url = 'delete';
            this.title = "ELIMINAR Categoria";
            this.globalIndex = index;
            this.isDanger = true;
            this.btn = 'BORRAR CATEGORIA'
        },
        setDefault()
        {
            this.input = '';
            this.url = 'store';
            this.btn = 'Crear Categoria';
            this.title = 'Agregar una nueva categoria';
            this.globalIndex = null;
            this.isDanger = false;
        },
        handleDelete(index)
        {
            this.categorias.splice(index,1);
        },
        handleEdit(index)
        {
            this.categorias[index].name = this.input;
        }
    }
}
</script>

<style scoped>
    .alertbox{
        position: fixed;
        top: 0;
        width: 100%;
        left: 0;
        transition: .4s ease;
    }
</style>
