<template>
<div>
    <div
    v-bind:key="categoria.id" v-for="(categoria, index) in categorias">
        <p v-text="categoria.name"></p>
        <div>
            <span @click="setDelete(categoria, index)" class="material-icons">delete</span>
            <span @click="setEdit(categoria, index)" class="material-icons">create</span>
        </div>
    </div>
</div>
</template>

<script>
export default {

    name: 'CategoriaList',

    methods: {

    },
    props: {
        categorias: {
            type: Array,
            default: []
        },
        setEdit: {
            type: Function
        },
        setDelete: {
            type: Function
        }
    }


}
</script>


<style scoped>
.material-icons{
    font-size: 16px;
    margin-left: .5em;
}
.material-icons:hover{
    transform: scale(1.4);
    transition: .4s ease;
    cursor: pointer;
}
</style>
