<template>
<div>
    <div v-if="width > 1024">
        <iframe src="/profile/edit" title=""></iframe>
    </div>
    <div v-else>
        <iframe src="/profile/edit" title=""></iframe>
    </div>
</div>
</template>

<script>
export default {
    name: 'Perfil',
    data(){
        return{
            width: window.innerWidth
        }
    }
}
</script>
