<template>
<div>
    <div>
        <h4 v-text="title"></h4>
        <form enctype="multipart/form-data" v-bind:class="{'bg-red-600': isDanger}" method="POST" @submit.prevent="(e)=>onSubmit(url,e)">
            <div>
                <input v-model="input.title" name="title" type="name" placeholder="Nombre del plato" autocomplete="off">
                <input v-model="input.price" name="price" type="name" placeholder="Precio" autocomplete="off">
            </div>
            <div>
                <div>
                    <select @change="(e)=>handleCategoriaChange(e)" name="categoria_id">
                        <option value="default">Seleccionar Categoria</option>
                        <option v-bind:key="categoria.id" v-for="categoria in categorias" :value="categoria.id">{{categoria.name}}</option>
                    </select>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                    </div>
                </div>
                <svg @click="RELEASE_THE_KRAKEN" style="fill: currentColor" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 13h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2z"/></svg>
            </div>
            <textarea v-model="input.description" name="description" placeholder="Descripción del plato"></textarea>
            <!-- alergenos malditos -->
            <div>
                <img @click="(event)=>handleAlergenos(index, event)" v-bind:key="alergeno" v-for="(alergeno, index) in alergenos" :title="alergeno" :alt="alergeno" :data-id="index + 1" :src="'/storage/alergenos/' + alergeno + '.svg'" />
            </div>
            <input @change="handleFileUpload" type="file" name="picture">
            <button v-bind:class="{'bg-red-800': isDanger, 'gradient-h': !isDanger}" v-text="btn" type="submit"></button>
        </form>
    </div>
    <div>
        <PlatoList :categorias="categorias" v-bind:setEdit="setEdit" v-bind:setDelete="setDelete" />
    </div>
        <flash-message transitionIn="animated swing" class="alertbox"></flash-message>
        <div class="modal">
            <CategoriasForm :RELEASE_THE_KRAKEN="RELEASE_THE_KRAKEN" />
        </div>
</div>
</template>

<script>
// vue components
import PlatoList from './PlatoList.vue';
import imageCompression from 'browser-image-compression';
import CategoriasForm from './CategoriaForm';
// css
import 'vue-flash-message/dist/vue-flash-message.min.css';

export default {
    name: 'PlatoForm',
    components: {
       PlatoList,
       CategoriasForm
    },
    data() {
        return {
            input: {
                title: '',
                price: '',
                description: '',
                categoria_id: null
            },
            url: 'store',
            title: 'Agregar un nuevo plato',
            btn: 'Crear Plato',
            cat_id: null,
            globalIndex: null,
            // platos: data.,
            catIndex: null,
            categorias: data.categorias,
            isDanger: false,
            alergenosActivos: [],
            alergenos: [
                'altramuces',
                'apio',
                'cacahuetes',
                'crustaceos',
                'sulfitos',
                'frutosdecascara',
                'gluten',
                'granosdesesamo',
                'huevos',
                'lacteos',
                'moluscos',
                'mostaza',
                'pescado',
                'soja',
                'ninguno'
            ],
            file: null
        }
    },
    methods: {
    async onSubmit(url, event)
        {
            let form = event.currentTarget;
            const formData = new FormData(form);
            // alergenos
            let arrAlergenos = document.querySelectorAll('.alergeno-active');
            let alergenos = '';
            if (arrAlergenos.length > 0)
            {
                for (let i = 0; i < arrAlergenos.length; i++) {
                    const ale = arrAlergenos[i];
                    alergenos += ale.getAttribute('data-id');
                    if (i !== arrAlergenos.length - 1)
                    {
                        alergenos += ',';
                    }
                }
                formData.set('alergenos', alergenos);
            }
            else
            {
                if (url === "store")
                {
                    formData.set('alergenos', '15');
                }
            }
            if (url !== 'store')
            {
                formData.set('categoria_id', this.input.categoria_id)
                formData.set('plato_id',  this.categorias[this.catIndex].platos[this.globalIndex].id);
            }
            if (this.file)
            {
                const options = {
                    maxSizeMB: 1,
                    maxWidthOrHeight: 1920,
                    useWebWorker: true
                }
                try {
                    const compressedFile = await imageCompression(this.file, options);
                    formData.set('picture', compressedFile);
                }
                catch(err){
                    console.log(err);
                }
            }
            try{
                const res = await axios.post(`/plato/${url}`, formData, {
                    headers: {
                            'Content-Type': 'application/json',
                    }});
                    switch (url) {
                        case "delete":
                            this.handleDelete(this.globalIndex);
                            break;
                        case "store":
                            for (let i = 0; i < this.categorias.length; i++) {
                                const cat = this.categorias[i];
                                if (cat.id.toString() === res.data.body.categoria_id)
                                {
                                    this.categorias[i].platos.push(res.data.body);
                                }
                            }
                            break;
                        case "update":
                            this.handleEdit(this.globalIndex);
                        default:
                            break;
                    }
                    // set all data to default
                    this.flash(res.data.msg, 'success',{timeout: 4000});
                    let alerg = document.querySelectorAll('.alergeno');
                    alerg.forEach(al => {
                        al.classList.remove('alergeno-active')
                    });
                    form.reset();
                    this.file = null;
                    this.setDefault();
                }
                catch(err){
                    this.flash(err.response.data.msg, 'error',{timeout: 4000});
                    console.log(err.response);
            }
        },
        async fetchPlatos ()
        {
            const resPlato = await axios.get('/platos');
            this.platos = resPlato.data;
            const resCat = await axios.get('/categorias');
            this.categorias = resCat.data
        },
        setEdit(plato, index)
        {
            this.input = {
                title: plato.title,
                price: plato.price,
                categoria_id: plato.categoria_id,
                description: plato.description,
            };
            this.url = 'update';
            this.title = 'Editar Plato';
            this.globalIndex = index;
            this.btn = "Editar plato";
            this.isDanger = false;
            this.catIndex = plato.cat_index;
        },
        setDelete(plato, index)
        {
            this.input = {
                title: plato.title,
                price: plato.price,
                categoria_id: plato.categoria_id,
                description: plato.description,
            };
            this.url = 'delete';
            this.title = "ELIMINAR Plato";
            this.globalIndex = index;
            this.isDanger = true;
            this.btn = 'BORRAR PLATO';
            this.catIndex = plato.cat_index;
        },
        setDefault()
        {
            this.input = {
                title: '',
                price: '',
                categoria_id: '',
                description: '',
                alergenos: ''
            };
            this.url = 'store';
            this.btn = 'Crear Plato';
            this.title = 'Agregar un plato';
            this.globalIndex = null;
            this.isDanger = false;
        },
        handleDelete(index)
        {
            this.categorias[this.catIndex].platos.splice(index,1);
        },
        handleEdit(index)
        {
            this.categorias[this.catIndex].platos[index].title = this.input.title;
            this.categorias[this.catIndex].platos[index].price = this.input.price;
            this.categorias[this.catIndex].platos[index].description = this.input.description;
        },
        handleAlergenos(index, event)
        {
            event.target.classList.toggle('alergeno-active');
        },
        handleCategoriaChange(e)
        {
            if (e.target.value !== "default")
                this.input.categoria_id = e.target.value;
        },
        handleFileUpload(e)
        {
            var imageFile = event.target.files[0];
            console.log('originalFile instanceof Blob', imageFile instanceof Blob); // true
            console.log(`originalFile size ${imageFile.size / 1024 / 1024} MB`);
            this.file = imageFile;
        },
        RELEASE_THE_KRAKEN(/* void */)
        {
            document.querySelector('.modal').classList.toggle('modal-active');
        }
    }
}
</script>


<style scoped>
    .alergeno-active{
        opacity: 1 !important;
        border: 2px solid rgb(49, 207, 43) !important;
        border-radius: 9rem;
    }
    .alergeno-inactive{
        transition: .4s;
        opacity: .4;
        cursor: pointer;
        border: 0px solid rgba(0, 0, 0, 0);
    }
    .main_grid_forms{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
        .alertbox{
        position: fixed;
        top: 0;
        width: 100%;
        left: 0;
        transition: .4s ease;
    }
    .modal{
        position: fixed;
        top: -100vh;
        left: 0;
        height: 100vh;
        overflow-y: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: white;
        z-index: 999;
        transition: .4s ease;
    }
    .modal-active{
        top: 0;
    }
    @media screen and (min-width: 1024px)
    {
        .platolistcontainer{
            height: calc(100vh - 91px) !important;
            overflow-y: auto !important;
            position: relative;
            z-index: 1;
        }
    }
    @media screen and (max-width: 1024px) {
        .main_grid_forms{
            display: block;
        }
        .alergenos-m-cont{
            display: grid;
            grid-template-columns: repeat(5,1fr);
            grid-gap: 1em;
            justify-items: center;
        }
    }
</style>
