<template>
<div>
    <div :key="categoria.id" v-for="(categoria) in categorias" >
        <div @click="(e)=>toggleAccordion(e, `isCat${categoria.id}`)">
            <h4 >{{categoria.name}}</h4>
            <h4 v-if="categoria.platos.length > 0 && categoria.platos.length < 2">{{categoria.platos.length}} plato</h4>
            <h4 v-else-if="categoria.platos.length > 1">{{categoria.platos.length}} platos</h4>
        </div>
        <div :id="'isCat' + categoria.id">
            <div :key="plato.id" v-for="(plato, index) in categoria.platos">
                <div>
                    <p v-text="plato.title"></p>
                    <p v-text="plato.price + ' €'"></p>
                </div>
                <div class="flex">
                    <span @click="setDelete(plato, index)">delete</span>
                    <span @click="setEdit(plato, index)">create</span>
                </div>
                <p v-text="plato.description"></p>
            </div>
        </div>
    </div>

</div>
</template>

<script>
export default {
    name: 'PlatoList',

    methods: {
        toggleAccordion(e, cat_id)
        {
            document.querySelector(`#${cat_id}`).classList.toggle('active')
        }
    },
    props: {
        categorias: {
            type: Array,
            default: []
        },
        setEdit: {
            type: Function
        },
        setDelete: {
            type: Function
        }
    }
}
</script>


<style scoped>
.material-icons{
    font-size: 16px;
    margin-left: .5em;
}
.material-icons:hover{
    transform: scale(1.4);
    transition: .4s ease;
    cursor: pointer;
}

.active{
    display: block !important;
}

.panel {
  padding: 0 18px;
  background-color: white;
  overflow: hidden;
  transition: .4s;
  display: none;
}
</style>
