<template>
    <div>
        <div>
            <p>
                <b>Hola! qué bueno tenerte por aquí,</b><br />
                usa el menú de navegación para moverte entre<br />
                las funcionalidades
            </p>
            <vue-qr colorLight="white" :colorDark="color" qid="qrc"  :dotScale="dotScale" :logoScale="logoScale" :correctLevel="correctLvl" :logoSrc="logoSrc" :text="url" :size="240"></vue-qr>
            <vue-qr colorLight="white" :colorDark="color" class="hiddenImp" qid="qrc"  :dotScale="dotScale" :logoScale="logoScale" :correctLevel="correctLvl" :callback="setDownloadLink" :logoSrc="logoSrc" :text="url" :size="800"></vue-qr>
            <a download="codigoqr.png" @click="handleDownloadQR" href="#">Descargar QR</a>
            <div id="qrcode4download"></div>
        </div>
    </div>
</template>

<script>
import VueQr from 'vue-qr';

export default {
    name: 'Qr',
    components: {
        VueQr
    },
    data(){
       return {
           dotScale: 0.50,
           logoScale: 0.3,
           correctLvl: 3,
           url: `${window.location.origin}/${data.username}`,
           logoSrc: `/storage/${data.logo}`,
           bgSrc: "",
           downloadUrl: null,
           color: '#111111'
        }
    },
    methods: {
        handleDownloadQR(e){
            const qrlink = this.downloadUrl;
            // console.log(qrlink.getAttribute("src"))
            e.currentTarget.setAttribute('href', qrlink);
        },
        setDownloadLink(dataUrl){
            this.downloadUrl = dataUrl;
        },
    },
}
</script>

<style scoped>
    .hiddenImp{
        display: none !important;
    }
</style>
