<template>
<div :class="{'singlePlatoActive' : show}">

    <div v-if="plato.picture" :style="'background-image: url(' + plato.picture + ')'"></div>
    <div v-else :style="'background-image: url(' + notfound + ')'">
       <p>Parece que no hay foto para este plato</p>
    </div>

    <div>
        <div>
            <h4 v-text="plato.title"></h4>
            <h4 v-text="plato.price + '€'"></h4>
        </div>

        <p v-text="plato.description"></p>

        <div>
            <img :key="al.id" v-for="al in plato.alergenos" :src="'/storage/alergenos/' + al.name + '.svg'" alt="">
        </div>
        <div @click="toggle">
            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M12 0c6.623 0 12 5.377 12 12s-5.377 12-12 12-12-5.377-12-12 5.377-12 12-12zm0 1c6.071 0 11 4.929 11 11s-4.929 11-11 11-11-4.929-11-11 4.929-11 11-11zm3 5.753l-6.44 5.247 6.44 5.263-.678.737-7.322-6 7.335-6 .665.753z"/></svg>
        </div>
    </div>
</div>
</template>

<script>
import not_found from './assets/notfound.svg'
export default {
    name: 'SinglePlato',
    data(){
        return {
            notfound: not_found
        }
    },
    props: {
        plato:{
            type: Object,
            default: {}
        },
        show: {
            type: Boolean,
            default: false
        },
        toggle: {
            type: Function
        }
    }
}
</script>
<style scoped>

</style>
